{% extends 'base.html' %}
{% block left %}
<div class="card mt-3 border-0">
    <div class="card-body pt-3 ml-0 pl-0">
        <h5>What is this?</h5>
        <p>
            The Sacred Harp is a 19th-Century hymnal that thousands of people
            around the world still sing from. 
        </p>
        <p>
            When you're singing with friends, it's easy to have a song in mind
            but forget which page it's on. Sometimes you can look it up by title.
            Sometimes all you remember is "it's in a minor key on a right-hand page
            and it has the word 'eye' in it." This search engine is for situations like
            that.
        </p>
        <h5>Try it!</h5>
        <p>
            Try a search! Here are some of the things you can do. Click the
            question marks for more information.
        </p>
        <p>
        <tt>corn in valleys birdseye</tt> <a href="TODO">?</a><br>
        <tt>47b</tt> <a href="TODO">?</a><br>
        <tt>"and breathe"</tt> <a href="TODO">?</a><br>
        <tt>"so la la la so la la la la fa fa so so la"</tt> <a href="TODO">?</a>
        <p>
            Or <a href="TODO">explore</a> songs by key, meter, age, length, etc.
        </p>
        <h5>About this app</h5>
        <p>
        This is a thing. I made it. It's an example of <a href="TODO">faceted search</a>.
        When the documents you're searching are very similar, like songs in the same book,
        you can customize the facets very closely.
        </p>
        <p>
        Thanks to Lael Birch and Savanni D'Gerinel
            for technical advice, to the Brainfriends for user testing,
            and to Margaret Youngberg for library science.
        </p>
    </div>
</div>
{% endblock %}
{% block content %}
{% include 'search_field.html' %}
{% include 'search_results.html' %}
{% endblock %}
