{% extends 'base.html' %}
{% block left %}
<div class="card mt-3 border-0">
    <div class="card-body pt-3 ml-0 pl-0">
        <h5>What is this?</h5>
        <p>
            A search engine for the 1991 edition of the Sacred Harp! Other sites
            let you look a song up by words or title. But when all you can remember
            is "it's on a bottom-right page and it's got a birdseye in it," this one
            can help.
        </p>
        <h5>Try it!</h5>
        <p>
            Try a search! Here are some of the things you can do. Click the
            question marks for more information.
        </p>
        <p>
        <tt>corn in valleys birdseye</tt> <a href="TODO">?</a><br>
        <tt>47b</tt> <a href="TODO">?</a><br>
        <tt>"and breathe"</tt> <a href="TODO">?</a><br>
        <tt>"so la la la so la la la la fa fa so so la"</tt> <a href="TODO">?</a>
        <p>
            Or <a href="search">explore</a> songs by key, meter, age, length, etc.
        </p>
        <h5>About this app</h5>
        <p>
        This is a thing. I made it. It's an example of <a href="TODO">faceted search</a>.
        When the documents you're searching are very similar, like songs in the same book,
        you can customize the facets very closely.
        </p>
        <p>
        Thanks to Lael Birch and Savanni D'Gerinel
            for technical advice, to the Brainfriends for user testing,
            and to Margaret Youngberg for library science.
        </p>
    </div>
</div>
{% endblock %}
{% block content %}
{% include 'search_field.html' %}
{% endblock %}
