<div class="well">
    <h1 class="display-4">
        <a href="index.html"><span class="text-muted">Sacred Harp</span> Search</a>
    </h1>
    <form action="/search" method="get" name="search">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
            <input type="text" id="q" name="q"
                                              class="form-control"
                                              value="{{query}}">
        </div>
        {% for f in facets %}
        <p>
            <b>{{f}}</b>
            {% if f in request.args %}
            {% for v in request.args.getlist(f) %}  
            <button onclick="this.remove(); submit()" 
                class="badge badge-secondary border border-secondary
                btn-light mr-1">
                <input type="hidden" 
                       id="{{f}}"
                       name="{{f}}" 
                       value="{{v}}" 
                       readonly>
                {{v}} &times;
            </button>
            {% endfor %}
            {% else %}
            {% for v in songs.groups(f) %}
            <button onclick="submit()"
                    class="badge badge-light border"
                    <input type="hidden"
                           id="{{f}}"
                           name="{{f}}"
                           value="{{v}}"
                           readonly>
                    {{v}} +
            </button>
            <small class="font-weight-lighter">({{ songs.groups(f)[v] }})</small>
            {% endfor %}
            {% endif %}
        </p>
        {% endfor %}
    </form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="well">
{% for message in messages %}
    <div class="controls">
        <span class="help-inline">{{ message }}</span>
    </div>
{% endfor %}
</div>
{% endif %}
{% endwith %}
