{% from 'components.html' import present_term %}
    <div class="card my-3 {% if arguments %} {% else %} border-0 {% endif %}">
        {% if arguments %}
        <div class="card-header">
            <span class="h5">Your search</span>
        </div>
        {% else %}
        <div class="card-header border-0 bg-white">
            <span class="h4">Search</span>
        </div>
        {% endif %}
        <div class="card-body">
            <form action="/search" method="get" name="search">
            {% if arguments %}
            Searching within…
            <a href="search"
                class="float-right btn btn-outline-danger btn-sm">Clear</a>
            {% for term in arguments %}
            {% if term in ['meter_name', 'position'] %}
            <div class="row ml-3 mt-2 no-gutters">
                <div class="col-md-3">{{ term }}</div>
                {% set or = joiner("or") %}
                <div class="col-md-9">
                    {% for value in arguments[term] -%}
                    {{ or() }}
                    {{ present_term(arguments, term, value, hidden_input=True) }}
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="row ml-3 mt-2 no-gutters">
                <div class="col-md-3">{{ term }}</div>
                <div class="col-md-9">
                    {% for value in arguments[term] %}
                    {{ present_term(arguments, term, value, hidden_input=True) }}
                    <br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %} 
            {% endif %}
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <button type="submit" 
                                class="btn btn-primary" 
                                title="Search">
                            <span class="fas fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text" 
                           id="q" 
                           name="q" 
                           class="form-control"
                           placeholder="{% if arguments -%}
                                        Search within these results for...
                                        {%- else -%}
                                        Search all 554 songs for...
                                        {%- endif %}" 
                           value="{{query}}">
                    <div class="input-group-append">
                        <select id="scope" name="scope" class="custom-select">
                            <option value="all">All fields</option>
                            <option value="song_text">Lyrics</option>
                            <option value="title">Titles</option>
                            <option value="meter_name">Meters</option>
                            <option value="composer">Composers</option>
                        </select>
                    </div>
                </div>
            </form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "bad_keyword" %}
<div class="help-inline">{{ message }}</div>
{% else %}
{{ message }}
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
        </div>
    </div>

