    <div class="card my-3 {% if search_terms %} {% else %} border-0 {% endif %}">
        {% if search_terms %}
        <div class="card-header">
            <span class="h5">Your search</span>
        </div>
        {% else %}
        <div class="card-header border-0 bg-white">
            <span class="h4">Search</span>
        </div>
        {% endif %}
        <div class="card-body">
            <form action="/search" method="get" name="search">
            {% if search_terms %}
            Searching within…
            <a href="search"
                class="float-right btn btn-outline-danger btn-sm">Clear</a>
            {% for term in search_terms %}
            {% if term in search_terms.disjunctive %}
            <div class="row ml-3 mt-2">
                <div class="col-md-3">{{ term }}</div>
                {% set or = joiner(" or ") %}
                <div class="col-md-9">
                    {% for value in search_terms[term] %}
                    {{ or() }}
                    <a href="search?{{search_terms.minus(term, value)}}">☑ {{value}}</a>
                    <input type="hidden" id="{{term}}" name="{{term}}" value="{{value}}">
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="row ml-3 mt-2">
                <div class="col-md-3">{{ term }}</div>
                <div class="col-md-9">
                    {% for value in search_terms[term] %}
                    <div class="row">
                    <a href="search?{{search_terms.minus(term, value)}}">☑ {{value}}</a>
                    <input type="hidden" id="{{term}}" name="{{term}}" value="{{value}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="submit" 
                                class="btn btn-primary" 
                                title="Search">
                            <span class="fas fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text" 
                           id="q" 
                           name="q" 
                           class="form-control"
                           placeholder="{% if search_terms -%}
                                        Search within these results for...
                                        {%- else -%}
                                        Search all 554 songs for...
                                        {%- endif %}" 
                           value="{{query}}">
                    <div class="input-group-append">
                        <select id="scope" name="scope" class="custom-select">
                            <option value="all">All fields</option>
                            <option value="song_text">Lyrics</option>
                            <option value="title">Titles</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="well">
{% for message in messages %}
    <div class="controls">
        <span class="help-inline">{{ message }}</span>
    </div>
{% endfor %}
</div>
{% endif %}
{% endwith %}
